<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benford Tester</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>

  <body>
    <div style="margin-top: 50px" class="ui container">
      <h1 class="ui center aligned header">Benford Tester</h1>

      <form
        class="ui form"
        action="/"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="field">
          <label>Upload a file to test: </label>
          <input type="file" name="file" />
          <button class="ui blue button" type="submit">Blue</button>
        </div>
      </form>
    </div>
  </body>
</html>
